@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
.font-source {
	font-family: 'Source Serif 4', serif;
}
.font-inter {
	font-family: 'Inter', sans-serif;
}
@layer base {
	a,
	button {
		@apply !outline-none;
	}
}

@layer components {
	.smooth {
		@apply ease-out duration-100;
	}
	.sleek {
		@apply ease-out duration-300;
	}
	.btn-theme {
		@apply inline-flex xl:h-14 lg:h-12 md:h-11 h-10 min-w-[120px] items-center justify-center whitespace-nowrap bg-vi text-lg text-white pb-1 px-5 rounded-full;
	}
	.btn-outline {
		@apply inline-flex xl:h-14 lg:h-12 md:h-11 h-10 min-w-[120px] items-center justify-center whitespace-nowrap border-tiber text-lg font-medium text-tiber pb-1 px-5 rounded-full border-2 hover:bg-tiber hover:text-white;
	}
}

@layer utilities {
	.ease-out-back {
		transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	}

	.rotate-x-90 {
		transform: rotateX('90deg');
	}

	.rotate-x-0 {
		transform: rotateX('0deg');
	}

	/* Scroll Bar */
	.x-scroll::-webkit-scrollbar {
		@apply h-[7px] bg-transparent;
	}

	.x-scroll::-webkit-scrollbar-thumb {
		@apply bg-mango rounded-[50px];
	}

	.x-scroll::-webkit-scrollbar-track {
		@apply bg-transparent;
	}
}
@media (max-width: 1199px) {
	.navs {
		@apply absolute shadow-lg z-10 hidden h-auto w-full flex-col border-t-tiber bg-khaki p-5 border-t left-0 top-full;
	}
	.navs.open {
		@apply flex;
	}
}

ul .slick-active {
	@apply bg-tiber;
}
.pgDots ul .slick-active {
	@apply bg-white;
}
.pgSlider .block.slick-slide {
	counter-increment: section;
	@apply relative before:absolute before:top-0 before:left-0 before:mt-[2px] before:ml-[14px] before:bg-white before:h-[92px] before:w-[92px] before:z-10;
}

.pgSlider .block.slick-slide::before {
	clip-path: polygon(0 0, 0% 100%, 100% 0);
}
.pgSlider .block.slick-slide::after {
	content: counter(section);
	@apply absolute top-0 left-0 mt-[2px] ml-[14px] h-[92px] w-[92px] inline-flex items-center justify-center text-tiber -translate-x-[20px] -translate-y-[20px] z-20 text-[26px] font-source;
}

.doubleSided {
	@apply gap-14;
	column-count: 2;
}

.radioCheck input {
	@apply hidden;
}
.radioCheck label {
	@apply cursor-pointer relative inline-flex text-2xl items-center gap-3 before:flex before:border before:border-tiber before:rounded-full before:h-14 before:w-14 after:absolute after:flex after:rounded-full after:h-14 after:w-14 after:z-[1];
}
.radioCheck input:checked ~ label:before {
	@apply bg-vi border-vi;
}
.radioCheck label:after {
	@apply opacity-0;
	background-image: url(../images/check.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 65%;
}
.radioCheck input:checked ~ label:after {
	@apply opacity-100;
}
